<!-- Sub Nav End -->
<div class="sub-nav hidden-sm hidden-xs">
  <ul>
    <li>
      <a href="" class="heading">资产</a>
    </li>
    <li class="hidden-sm hidden-xs">
      <a href="/asset" class="">创建资产</a>
    </li>
    <li class="hidden-sm hidden-xs">
      <a href="/test" class="selected">发行资产</a>
    </li>

  </ul>
  <!-- <div class="custom-search hidden-sm hidden-xs">
  <input type="text" class="search-query" placeholder="Search here ..."> <i class="fa fa-search"></i>
</div>
-->
</div>
<!-- Sub Nav End -->

<!-- Dashboard Wrapper Start -->
<div class="dashboard-wrapper-lg">

<h2>This is a test page!</h2>
  </div>